# Tencent Cloud ASR (real-time WebSocket), engine 8k_zh.
# AppID: https://console.cloud.tencent.com/developer
# API keys: https://console.cloud.tencent.com/cam/capi
TENCENT_APP_ID=
TENCENT_SECRET_ID=
TENCENT_SECRET_KEY=
